/* Gallery */
.meme-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    align-items: stretch;
    width: 80vw;
    margin: 0 auto;
    padding-bottom:60px;
}
.memeImg{
    width: 100%;
    transition: outline .3s; 
    border-radius: 20px;
    object-fit: cover;
}

.memeImg:hover{
    outline: 5px solid skyblue;    
    -moz-outline-radius: 25px;
    /* outline-radius:20px;  */
}

/* Footer */




.meme-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* grid-template-rows: auto; */
    grid-gap: 5px;
    align-items: stretch;
}
.memeImg{
    width: 100%;
    transition: outline .3s; 
    border-radius: 20px solid yellow;
}

.memeImg:hover{
    outline: 6px solid skyblue;    
}

