* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Helpers */

.flex {
    display: flex;
}
.meme-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.memeImg{
    width:400px;
    height: 400px;
    object-fit: cover;
    margin: 10px;
    border-radius: 20px;
}

.edit-meme-container {
    display: none;
}