/* Helpers */
@import "./helpers.css";

/* meme */
@import "./img.css";
@import "./editor.css";
@font-face {
    font-family: Impact;
    src: url(../fonts/impact/impact.ttf);
}



/* Basic */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
h1 {
    margin: 0;
}

.header {
    background: cadetblue;;
    /* margin-bottom: 10px;  */
    height: 50px;
}

.top-nav{
    display: flex;
    justify-content: space-around;
    /* margin: 0 20px; */
    /* width: 100%; */
    /* height: 100%; */
    align-items: center;
}

.btn {
    cursor: pointer;
    border: 0;
}

.btn-delete {
    width: 100px;
}


/* Layout */
.footer {
    margin-top: 20px;
    background-color: cadetblue; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
}

.footer a{
    width: 20%;
    outline: 1px solid lightblue;
    margin: 20px;
    height: 100%;
}



@media (max-width: 500px){
    @media (max-width:500px){
        .edit-meme-container{
            flex-direction: column-reverse;
            align-items: center;
            text-align: start;
        }
       .editor-header{
            flex-direction: row;
            margin-top: 10px;
            height: 150px;
            width: 100vw;
        }
        .editor-header .btn{
            font-size: 20px;

        }
        .meme-container{
            width: 90%;
            padding-bottom:0 ;
        }
        .options-list,.download{
            width: 100px;
        }
        .top-nav{
            height: 50px;
            margin: 0 0;
            /* width: inherit; */
        }
        .header{
            margin-bottom: 0;
        }
        .footer{
            /* display: none */
        }
    }
    .meme-container {
        grid-template-columns: repeat(4,1fr);
        width: 90vw;
        margin: 0 auto;
    }

    .btn-delete {
        width: 100px;
    }
    h1 {
        font-size: 20px;
        padding: 0;
    }

    .keyword-selector{
        margin: 0;
        padding: 0;
        display: inline;
    }
    .header {
        height: 70px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .options-list{
        height: 30px;
    }
    
    .editor-header .btn-delete {
width: 100px;
    }

    .canvas{
        height: 40vh;
margin-top: 10px;
    }
    .footer{
        display: none;
    }
    
}

form{
    margin:50px;
}



